* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0;
    background-color: #121212;
    line-height: 1.6;
    text-decoration: none;
}

header {
    background-color: #2c2c2c;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d62828;
    margin: 0 24px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-list a {
    text-decoration: none;
    color: #cccccc;
    font-weight: 500;
    transition: color 0.3s;

}

.nav-list a:hover {
    text-decoration: none;
    color: #d62828;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

main section {
    background-color: #1d1b1b;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 900px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main section h1,
main section h2,
main section h3 {
    text-align: center;
    margin-bottom: 1rem;
}

main section h1 {
    font-size: 2rem;
    color: #111111;
}

main section h2 {
    font-size: 1.6rem;
    color: #d62828;
}

main section h3 {
    font-size: 1.1rem;
    color: #555555;
    font-weight: 400;
}

main section p {
    margin-top: 1rem;
    font-size: 1.05rem;
    text-align: justify;
}

hr {
    border: none;
    border-top: 2px solid #e0e0e0;
    margin: 1.5rem 0;
}

/* --------------------------
   ESTILO PARA TABELAS
--------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1rem;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
}

thead {
    background-color: #d62828;
    color: #ffffff;
}

thead th {
    padding: 0.8rem;
    font-weight: bold;
    border: 1px solid #333333;
}

tbody td {
    padding: 0.8rem;
    border: 1px solid #333333;
}

tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}

tbody tr:hover {
    background-color: #292929;
}

footer {
    background-color: #2c2c2c;
    color: #cccccc;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer a {
    color: #d62828;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: none;
    color: #ffffff;
}


.exemplo {
    background-color: #262626;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    color: #d62828;
}

img {
    display: block;
    max-width: 350px;
    margin: 25px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(21, 71, 129, 0.411);
}

.exemplo-arduino {
    background-color: #262626;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    color: #d62828;
}

.exemplo-arduino img {
    display: inline;
    max-width: 250px;
    height: auto;
    border-radius: 12px;
}

.saida-dados,
.entrada-dados,
.aplicacoes {
    text-align: center;
}

pre {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    overflow-x: auto;
    font-size: 12px;
}

.exemplo pre {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 24px;
    overflow-x: auto;
    font-size: 12px;
    color: #e0e0e0;
    text-align: left;
}